@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,700");

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #0a2333;
  /* background: linear-gradient(to right, #70bef4, #066ab0); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 80vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.title-container {
  height: 80vh;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover;
  /* display: flex; */
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(11, 3, 82);
  border-radius: 20px 0px 0px 20px;
}

.title-container__title {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-left: 20px;
}

.title-container__subtitle {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}

.form-container {
  background-color: #fff;
  /* background-color: #0a2333; */
  height: 80vh;
  padding-top: 100px;
  border-radius: 20px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #000 !important;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;

  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000 !important;
  padding-left: 20px;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
}

button:active {
  outline: none;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #000;
  font-weight: 300;
}

.weather__error {
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
